<div class="assets">
    <div class="assets__section assets__section--avalible">
        <div class="assets__access">
            <h4>Доступные вам</h4>
        </div>
        <div class="assets__content">
            <div class="assets__list">
                <a href="javascript:void(0)" class="assets__item">
                    <div class="flex flex-grow items-start">
                        <span class="assets__item-title">RUB/USD</span>
                        <span class="assets__item-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <rect width="24" height="24" rx="12" fill="#EC1C1C" />
                                <path d="M12 17.5L17.1962 8.5H6.80385L12 17.5Z" fill="white" />
                            </svg>
                        </span>
                    </div>
                    <div class="flex items-center small:relative">
                        <span class="assets__item-value">91,3921</span>
                        <span class="assets__item-change">- 91,39 (- 91,39%)</span>
                        <div class="assets__favorite">
                            <app-favorite-button [assetId]="0" />
                        </div>
                    </div>
                </a>
                <a href="javascript:void(0)" class="assets__item">
                    <div class="flex flex-grow items-start">
                        <span class="assets__item-title">EUR/USD</span>
                        <span class="assets__item-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <rect width="24" height="24" rx="12" fill="#EC1C1C" />
                                <path d="M12 17.5L17.1962 8.5H6.80385L12 17.5Z" fill="white" />
                            </svg>
                        </span>
                    </div>
                    <div class="flex items-center small:relative">
                        <span class="assets__item-value">1.0720</span>
                        <span class="assets__item-change">− 1.0720 (- 0,02%)</span>
                        <div class="assets__favorite">
                            <app-favorite-button [assetId]="0" />
                        </div>
                    </div>
                </a>
                <a href="javascript:void(0)" class="assets__item">
                    <div class="flex flex-grow items-start">
                        <span class="assets__item-title">USD/JPY</span>
                        <span class="assets__item-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <rect width="24" height="24" rx="12" fill="#EC1C1C" />
                                <path d="M12 17.5L17.1962 8.5H6.80385L12 17.5Z" fill="white" />
                            </svg>
                        </span>
                    </div>
                    <div class="flex items-center small:relative">
                        <span class="assets__item-value">147.64</span>
                        <span class="assets__item-change">− 0.081 (- 0,05%)</span>
                        <div class="assets__favorite">
                            <app-favorite-button [assetId]="0" />
                        </div>
                    </div>
                </a>
                <a href="javascript:void(0)" class="assets__item assets__item--success">
                    <div class="flex flex-grow items-start">
                        <span class="assets__item-title">GBP/USD</span>
                        <span class="assets__item-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <rect width="24" height="24" rx="12" transform="matrix(1 0 0 -1 0 24.0002)"
                                    fill="#14913C" />
                                <path d="M12 6.50024L17.1962 15.5002H6.80385L12 6.50024Z" fill="white" />
                            </svg>
                        </span>
                    </div>
                    <div class="flex items-center small:relative">
                        <span class="assets__item-value">0.7993</span>
                        <span class="assets__item-change">0.00389 (0,49%)</span>
                        <div class="assets__favorite">
                            <app-favorite-button [assetId]="0" />
                        </div>
                    </div>
                </a>
                <a href="javascript:void(0)" class="assets__item assets__item--success">
                    <div class="flex flex-grow items-start">
                        <span class="assets__item-title">AUD/USD</span>
                        <span class="assets__item-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <rect width="24" height="24" rx="12" transform="matrix(1 0 0 -1 0 24.0002)"
                                    fill="#14913C" />
                                <path d="M12 6.50024L17.1962 15.5002H6.80385L12 6.50024Z" fill="white" />
                            </svg>
                        </span>
                    </div>
                    <div class="flex items-center small:relative">
                        <span class="assets__item-value">0.6381</span>
                        <span class="assets__item-change">0.00040 (0,06%)</span>
                        <div class="assets__favorite">
                            <app-favorite-button [assetId]="0" />
                        </div>
                    </div>
                </a>
                <a href="javascript:void(0)" class="assets__item assets__item--success">
                    <div class="flex flex-grow items-start">
                        <span class="assets__item-title">USD/TRY</span>
                        <span class="assets__item-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <rect width="24" height="24" rx="12" transform="matrix(1 0 0 -1 0 24.0002)"
                                    fill="#14913C" />
                                <path d="M12 6.50024L17.1962 15.5002H6.80385L12 6.50024Z" fill="white" />
                            </svg>
                        </span>
                    </div>
                    <div class="flex items-center small:relative">
                        <span class="assets__item-value">26.8220</span>
                        <span class="assets__item-change">0.03935 (0,15%)</span>
                        <div class="assets__favorite">
                            <app-favorite-button [assetId]="0" />
                        </div>
                    </div>
                </a>
                <a href="javascript:void(0)" class="assets__item">
                    <div class="flex flex-grow items-start">
                        <span class="assets__item-title">GBP/JPY</span>
                        <span class="assets__item-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <rect width="24" height="24" rx="12" fill="#EC1C1C" />
                                <path d="M12 17.5L17.1962 8.5H6.80385L12 17.5Z" fill="white" />
                            </svg>
                        </span>
                    </div>
                    <div class="flex items-center small:relative">
                        <span class="assets__item-value">184.62</span>
                        <span class="assets__item-change">0.995 (- 0,54%)</span>
                        <div class="assets__favorite">
                            <app-favorite-button [assetId]="0" />
                        </div>
                    </div>
                </a>
            </div>
            <button class="assets__more">Смотреть все</button>
        </div>
    </div>
    <div class="assets__section assets__section--unavalible">
        <div class="assets__access">
            <h4>Недоступные</h4>
            <button class="mt-4 min-w-[197px] button--green">Разблокировать</button>
        </div>
        <div class="assets__content">
            <div class="assets__list">
                <div class="assets__item">
                    <div class="flex items-center">
                        <span class="assets__item-title">EUR/USD</span>
                    </div>
                </div>
                <div class="assets__item">
                    <div class="flex items-center">
                        <span class="assets__item-title">USD/JPY</span>
                    </div>
                </div>
                <div class="assets__item">
                    <div class="flex items-center">
                        <span class="assets__item-title">GBP/USD</span>
                    </div>
                </div>
                <div class="assets__item">
                    <div class="flex items-center">
                        <span class="assets__item-title">AUD/USD</span>
                    </div>
                </div>
                <div class="assets__item">
                    <div class="flex items-center">
                        <span class="assets__item-title">USD/TRY</span>
                    </div>
                </div>
                <div class="assets__item">
                    <div class="flex items-center">
                        <span class="assets__item-title">GBP/CAD</span>
                    </div>
                </div>
            </div>
            <button class="assets__more">Смотреть все</button>
        </div>
    </div>
</div>