<div class="container phone:mb-8 desktop:mb-20">
    <div
            class="w-100 phone:h-[350px] desktop:h-[706px] bg-no-repeat bg-cover bg-center rounded-3xl rounded-bl-none flex items-center justify-center flex-col"
            style="background-image: url('/assets/images/home/welcome-img.png');"
    >
        <h1 class="mb-8">mscinsider</h1>
        <p class="text-subheader-1 max-w-[768px] text-center">
            Точные отчёты c Московской фондовой биржи для принятия осознанных инвестиционных решений.
        </p>
    </div>
</div>
