<footer>
  <div class="my-6 max-w-lg mx-auto w-full flex tablet:flex-row phone:flex-col phone:justify-center tablet:justify-between items-center">
    <p class="text-caption">© mscinsider {{yearNow}}</p>
    <a class="text-caption" href="/">Политика конфиденциальности</a>
    <a class="flex items-center text-caption" href="">
      <span>Made with</span>
      <svg class="mx-1" fill="none" height="16" viewBox="0 0 16 16" width="16"
           xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_569_18132)">
          <path
            d="M0 5.63612C0 9.80812 3.21554 12.0313 5.56938 14.0213C6.4 14.7235 7.2 15.3846 8 15.3846C8.8 15.3846 9.6 14.7235 10.4306 14.0213C12.7845 12.0313 16 9.80812 16 5.63612C16 1.46409 11.5998 -1.49463 8 2.5163C4.40013 -1.49463 0 1.46409 0 5.63612Z"
            fill="white"/>
        </g>
        <defs>
          <clipPath id="clip0_569_18132">
            <rect fill="white" height="16" width="16"/>
          </clipPath>
        </defs>
      </svg>
      <span>by Easy Agency</span>
    </a>
  </div>
</footer>
