<section class="container">
    <h1 class="leading-none mb-9 pt-6">Сигналы</h1>
    <div class="signals">
        <div class="signals__left">
            <div class="signals__filter">
                <app-assets-filter />
            </div>
            <div class="signals__examples">
                <ul>
                    <li class="signals__examples-item">
                        <div class="signals__examples-indicator bg-greenPrimary"></div> – сигнал к покупке, актив
                        перепродан
                    </li>
                    <li class="signals__examples-item">
                        <div class="signals__examples-indicator bg-error"></div> – сигнал к продаже, актив перекуплен
                    </li>
                    <li class="signals__examples-item">
                        <div class="signals__examples-indicator bg-[#577775]"></div> – нейтральное положение игроков
                    </li>
                    <li class="signals__examples-item">
                        <div class="signals__examples-indicator bg-gray4"></div> – недоступный
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex-grow">
            <app-assets-table [signals]="_assetsFilterService.signals" />
        </div>
    </div>
    <div class="signals">
        <div class="signals__filter">
            <h4>Недоступные</h4>
            <button class="my-4">Разблокировать</button>
        </div>
        <div class="flex-grow">
            <app-assets-table [signals]="_assetsFilterService.signals" [unavalible]="true" />
        </div>
    </div>
    <section class="mt-[88px] tariffs">
        <h3>Тарифные планы</h3>
        <p class="mt-6 text-subheader-2">Выберите свой путь к успеху с нашими тарифными планами!</p>
        <div class="mt-8 mb-12">
            <app-tariff-list />
        </div>
    </section>
</section>