<form class="filter">
    <div class="filter__search">
        <app-search-bar [possibleValues]="inputValues" />
    </div>
    <div class="filter__checkbox" [ngClass]="{'border-greenPrimary': isAdditionalOpened}">
        <app-checkbox elementId="FILTER_CHECKBOX" label="Фильтры" [checked]="isAdditionalOpened"
            (valueChanged)="setIsAdditionalOpened($event)" />
        <button *ngIf="isAdditionalOpened" class="filter__reset" (click)="resetFilter()">Сбросить все</button>
    </div>
    <div *ngIf="isAdditionalOpened" class="filter__additional">
        <app-select [options]="_assetsFilterService.filter.type" [current]="_assetsFilterService.filter.type[0]" />
        <app-select [options]="_assetsFilterService.filter.RSI" [current]="_assetsFilterService.filter.RSI[0]" />
    </div>
</form>