<div class="container">
    <div class="chart">
        <div echarts #echart [options]="options" [loading]="loading" [loadingOpts]="loadingOpt" class="demo-chart">
        </div>
        <div class=" pt-8 mt-8 border-t-[1px] border-gray3">
            <p class="w-[60%]">Индикатор технического анализа, показывающий
                соотношение положительных и отрицательных изменений
                цены финансового инструмента. Метрика которая позволяет улавливать когда Инсайдеры заходят сильно в лонг
                или в шорт.</p>
        </div>
        <div class="mt-6 flex justify-end gap-3">
            <button (click)="showLoading()" class="button--error">Обновить данные</button>
        </div>
    </div>
</div>