.table {
  @apply w-full flex flex-col rounded-2xl bg-gray1 text-left overflow-hidden;

  &--unavalible {
    @apply bg-none;
    background: none !important;

    .table__row:not(.table__row--header) {
      @apply text-gray4;
    }
  }

  &__row {
    @apply relative flex w-full px-8 py-4 max-phone2:p-4 text-body-1 max-small:flex-col pr-12 max-phone2:pr-12;

    &:not(:last-child):not(:first-child) {
      @apply border-b-[1px] border-gray4;
    }

    &--header {
      @apply bg-gray3 text-body-2 max-small:hidden;
    }
  }

  &__col {
    @apply relative font-normal max-laptop:text-body-3 whitespace-nowrap overflow-ellipsis overflow-hidden max-small:text-right;

    &:before {
      @apply small:hidden font-bold absolute left-0;
    }

    &-type {
      @apply small:w-[28%];

      &:before {
        content: "Тип актива: ";
      }
    }

    &-name {
      @apply small:w-[30%];

      &:before {
        content: "Актив: ";
      }
    }

    &-rsi {
      @apply small:w-[21%] laptop:overflow-visible text-center laptop:px-10;

      &:first-child:before {
        content: "RSI для юр. лиц: ";
      }
      &:last-child:before {
        content: "RSI для физ. лиц: ";
      }
    }

    &-favorite {
      @apply absolute laptop:right-8 right-4 max-laptop:top-4;
    }

    &:not(:last-child) {
      @apply max-small:mb-2;
    }
  }

  &__more {
    all: unset;
    transition: background 0.2s ease;
    @apply w-full px-8 py-4 cursor-pointer text-center text-button;

    &:hover {
      @apply bg-gray3;
    }

    &:active {
      @apply bg-gray1;
    }
  }
}

.indicator {
  @apply w-[24px] h-[12px] rounded-xl;
}
