<table class="table" [ngClass]="{'table--unavalible': unavalible}">
    <tr class="table__row table__row--header">
        <th class="table__col table__col-type">Тип актива</th>
        <th class="table__col table__col-name">Актив</th>
        <th class="table__col table__col-rsi">RSI для юр. лиц</th>
        <th class="table__col table__col-rsi">RSI для физ. лиц</th>
    </tr>
    <tr *ngFor="let signal of signals" class="table__row" [title]="signal.name">
        <th class="table__col table__col-type">{{ signal.type }}</th>
        <th class="table__col table__col-name">{{ signal.name }}</th>
        <th class="table__col table__col-rsi">
            <div class="flex items-center small:justify-center justify-end">
                <div class="indicator {{ unavalible ? 'bg-gray4' : signal.RSI_legal.type }}"></div>
                <span class="ml-2">{{ unavalible ? 'NN' : signal.RSI_legal.value }}</span>
            </div>
        </th>
        <th class="table__col table__col-rsi">
            <div class="flex items-center small:justify-center justify-end">
                <div class="indicator {{ unavalible ? 'bg-gray4' : signal.RSI_legal.type }}"></div>
                <span class="ml-2">{{ unavalible ? 'NN' : signal.RSI_legal.value }}</span>
            </div>
        </th>
        <th *ngIf="!unavalible">
            <div class="table__col-favorite">
                <app-favorite-button [assetId]="0" />
            </div>
        </th>
    </tr>
    <tr class="table__row !p-0">
        <div class="table__more" title="Показать ещё">Показать ещё</div>
    </tr>
</table>